  
   .full-page-start {
    background: rgb(72, 16, 213);
    background: radial-gradient(circle, rgba(72, 16, 213, 1) 0%, rgba(23, 8, 78, 1) 58%);
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items:center;
    padding-top: 3%;
    }

    .full-content-slider {
    background-color: #ffffff;
    width: 90%;
    min-height: 70vh;
    max-height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-radius: 17px;
    overflow: auto;
    }

    .full-content-slider h1 {
    font-size: 26px;
    }

    .full-content-slider p {
    font-size: 18px;
    }

    /* ************************************ packages */
    .card-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center;
    justify-content: center;
}

    .package-card {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: auto;
    background-color: #ffffff;
    border-radius: 15px;
    justify-content: flex-start;
    align-items: center;
    box-shadow: 2px 5px 8px black;
    }

    .package-title {
    width: 100%;
    height: 30px;
    text-align: center;
    background-color: rgba(72, 16, 213, 1);
    color: #FFFFFF;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    }
    .package-card:hover{
        cursor: pointer;
    }

    .package-card:hover .package-title {
        background-color: rgba(23, 8, 78, 1);
    }

    .package-midle {
    height: 60px;
    width: 100%;
    min-height: 40%;
    margin: 0px 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    }

    .package-icon {
    width: 15%;
    height: 100%;
    text-align: center;
    }

    .package-price {
    font-size: 30px;
    font-weight: bold;
    color: #444444;
    text-decoration: underline 1px;
    }

    .text-small {
    font-size: 14px;
    font-weight: 500;
    }

    .package-products {
    display: flex;
    width: 100%;
    height: auto;
    justify-content: left;
    align-items: center;
    flex-wrap: wrap;
    padding: 5px;
    border-top: rgba(72, 16, 213, 1) 1px solid;
    }

    .tag-product {
    display: flex;
    background-color: #fe7200;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    border-radius: 5px;
    text-align: center;
    margin: 1%;
    padding: 0.8%;
    white-space: nowrap;

    }

    .custom-button {
    display: flex;
    flex-direction: column;
    min-height: auto;
    background-color: rgba(72, 16, 213, 1);
    color: #FFFFFF;
    border-radius: 10px;
    justify-content: flex-start;
    align-items: center;
    font-size: 18px;
    padding: 10px 40px;
    border-style: none;
    margin: 20px;
    cursor: pointer;
    }
    .custom-button:hover {
        background-color: rgba(23, 8, 78, 1);
    }


/* ****************************************StepsBar */

    .stepsBar{
        display: flex;
        width: 90%;
        height: 7vh;
        background-color: #FFFFFF;
        border-radius: 10px;
        justify-content: space-around;
        align-items: center;
        padding: 0px 20px
    }
    .step{
        display: flex;
        border: #fe7200 solid 1px;
        align-items: center;
        justify-content: center;
        font-size: 30px;
        width: 45px;
        height: 45px;
        border-radius: 50px;
        color: #fe7200;
        background-color: #fafafa;
    }
    .stepVerify{
        display: flex;
        border: #028200 solid 1px;
        align-items: center;
        justify-content: center;
        font-size: 30px;
        width: 45px;
        height: 45px;
        border-radius: 50px;
        color: #028200;
        background-color: #fafafa;
    }
    .stepSeparator{
        display: flex;
        align-items: center;
        justify-content: center;
    }

@media (min-width: 720px) {

    .full-content-slider {

        width: 50%;

        }

    .stepsBar{

        width: 60%;
    }

    .package-card {
        width: 50%;
    }
    
}